{% css_asset_tag global %}
- /_assets/web/assets/mobirise-icons/mobirise-icons.css
- /_assets/tether/tether.min.css
- /_assets/soundcloud-plugin/style.css
- /_assets/bootstrap/css/bootstrap.min.css
- /_assets/bootstrap/css/bootstrap-grid.min.css
- /_assets/bootstrap/css/bootstrap-reboot.min.css
- /_assets/dropdown/css/style.css
- /_assets/animatecss/animate.min.css
- /_assets/socicon/css/styles.css
- /_assets/theme/css/style.css
- /_assets/gallery/style.css
- /_assets/mobirise/css/mbr-additional.css
{% endcss_asset_tag %}




{% javascript_asset_tag global %}
- /_dest/build.min.js
- /_assets/jquery.pjax.js
- /_assets/common.js
{% endjavascript_asset_tag %}