  <link rel="stylesheet" href="{{ site.baseurl }}/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/tether/tether.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/soundcloud-plugin/style.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/theme/css/style.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/gallery/style.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/mobirise/css/mbr-additional.css" type="text/css">




  <script defer src="{{ site.baseurl }}/assets/web/assets/jquery/jquery.min.js"></script>

  <script defer src="{{ site.baseurl }}/assets/preloder.js"></script>

  <script defer src="{{ site.baseurl }}/assets/popper/popper.min.js"></script>
  <script defer src="{{ site.baseurl }}/assets/tether/tether.min.js"></script>
  <script defer src="{{ site.baseurl }}/assets/bootstrap/js/bootstrap.min.js"></script>
  <script defer src="{{ site.baseurl }}/assets/vimeoplayer/jquery.mb.vimeo_player.js"></script>
  <script defer src="{{ site.baseurl }}/assets/dropdown/js/script.min.js"></script>
  <script defer src="{{ site.baseurl }}/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script defer src="{{ site.baseurl }}/assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script defer src="{{ site.baseurl }}/assets/ytplayer/jquery.mb.ytplayer.min.js"></script>
  <script defer src="{{ site.baseurl }}/assets/mbr-switch-arrow/mbr-switch-arrow.js"></script>
  <script defer src="{{ site.baseurl }}/assets/smoothscroll/smooth-scroll.js"></script>
  <script defer src="{{ site.baseurl }}/assets/mbr-popup-btns/mbr-popup-btns.js"></script>
  <script defer src="{{ site.baseurl }}/assets/masonry/masonry.pkgd.min.js"></script>
  <script defer src="{{ site.baseurl }}/assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script defer src="{{ site.baseurl }}/assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
  <script defer src="{{ site.baseurl }}/assets/sociallikes/social-likes.js"></script>
  <script defer src="{{ site.baseurl }}/assets/parallax/jarallax.min.js"></script>
  <script defer src="{{ site.baseurl }}/assets/theme/js/script.js"></script>
  <script defer src="{{ site.baseurl }}/assets/slidervideo/script.js"></script>
  <script defer src="{{ site.baseurl }}/assets/gallery/player.min.js"></script>
  <script defer src="{{ site.baseurl }}/assets/gallery/script.js"></script>
  <script defer src="{{ site.baseurl }}/assets/formoid/formoid.min.js"></script>


  <script defer src="{{site.baseurl}}/assets/jquery.pjax.js"></script>
  <script defer src="{{site.baseurl}}/assets/common.js"></script>