<section class="mbr-section article content1 cid-qHWmcpJ4wH" id="content1-3v">
    
     

    <div class="container">

      <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">Базовые комплектации и доп. работы</h2>                
            </div>
        </div>

        
        <div class="media-container-row">
            <div class="col-12 col-md-10 mbr-fonts-style display-4">




<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a class="btn btn-md btn-primary display-4" href="#home" aria-controls="home" role="tab" data-toggle="tab">Усадка</a>
    </li>
    <li role="presentation">
      <a class="btn btn-md btn-primary display-4" href="#tab" aria-controls="tab" role="tab" data-toggle="tab">Стандарт</a>
    </li>
    <li role="presentation">
      <a class="btn btn-md btn-primary display-4" href="#tab2" aria-controls="tab" role="tab2" data-toggle="tab">Комфорт</a>
    </li>
    <li role="presentation">
      <a class="btn btn-md btn-primary display-4" href="#tab3" aria-controls="tab" role="tab3" data-toggle="tab">Доп.работы</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <table class="table table-bordered table-hover display-7">
        <thead>
          <tr>
            <th scope="col">Название</th>
            <th scope="col">Комплектующие</th>
          </tr>
        </thead>
        <tbody>
          {% for usad in site.usads %}
          <tr>
            <th scope="row">{{ usad.name }}</th>
            <td>{{ usad.compl }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


    <div role="tabpanel" class="tab-pane" id="tab">
      <table class="table table-bordered table-hover display-7">
        <thead>
          <tr>
            <th scope="col">Название</th>
            <th scope="col">Комплектующие</th>
          </tr>
        </thead>
        <tbody>
          {% for standart in site.standarts %}
          <tr>
            <th scope="row">{{ standart.name }}</th>
            <td>{{ standart.compl }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div role="tabpanel" class="tab-pane" id="tab2">
      <table class="table table-bordered table-hover display-7">
        <thead>
          <tr>
            <th scope="col">Название</th>
            <th scope="col">Комплектующие</th>
          </tr>
        </thead>
        <tbody>
          {% for comfort in site.comforts %}
          <tr>
            <th scope="row">{{ comfort.name }}</th>
            <td>{{ comfort.compl }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div role="tabpanel" class="tab-pane" id="tab3">
      <table class="table table-bordered table-hover display-7">
        <thead>
          <tr>
            <th scope="col">Цена</th>
            <th scope="col">Комплектующие</th>
          </tr>
        </thead>
        <tbody>
          {% for dopwork in site.dopworks %}
          <tr>
            <th scope="row">{{ dopwork.name }}</th>
            <td>{{ dopwork.compl }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>



            </div>
        </div>
    </div>
</section>