<section class="counters2 counters cid-qGD8LnmMkF" id="counters2-w">

    

    

    <div class="container pt-4 mt-2">
        <div class="media-container-row">
            <div class="media-block" style="width: 50%;">
                <h2 class="mbr-section-title pb-3 align-left mbr-fonts-style display-2">СК "FastStroy53"</h2>
                <h3 class="mbr-section-subtitle pb-5 align-left mbr-fonts-style display-5">
                    Лидеры рынка строительства деревянных домов и бань. 
                </h3>
                <div class="mbr-figure">
                    <img src="assets/images/4-4-3-1280x720.jpg" alt="" title="">
                </div>
            </div>
            <div class="cards-block">
                <div class="cards-container">
                    <div class="card px-3 align-left col-12 col-md-6">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                <span class="mbr-iconfont pr-2 mbri-success"></span>
                                <h3 class="count py-3 mbr-fonts-style display-2">423</h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">Более 400 выполненных заказов</h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">Строим по всей России.<br>География строительства от Псковской области до Хантымансийского АО.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card px-3 align-left col-12 col-md-6">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                <span class="mbr-iconfont pr-2 mbri-clock"></span>
                                <h3 class="count py-3 mbr-fonts-style display-2">15</h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">Более 15 лет в строительном бизнесе</h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">Город Пестово Новгородской области славится строительством деревянных домов, бань и бытовок.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card px-3 align-left col-12 col-md-6">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                <span class="mbr-iconfont pr-2 mbri-timer"></span>
                                <h3 class="count py-3 mbr-fonts-style display-2">14</h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">2 недели дом готов</h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                        Средняя продолжительность строительства составляет от 14 дней</p>
                            </div>
                        </div>
                    </div>
                    <div class="card px-3 align-left col-12 col-md-6">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                <span class="mbr-iconfont pr-2 mbri-globe"></span>
                                <h3 class="count py-3 mbr-fonts-style display-2">365</h3>
                            </div>
                            <div class="card-texts">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                    Строим круглый год</h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">Строительные работы ведутся все 4 сезона в году.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="mbr-section content8 cid-qGDtZ47Rwi" id="content8-y">

    

    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4" href="index.html#header15-1q">Оставить заявку</a></div>
            </div>
        </div>
    </div>
</section>