<section class="cid-qGABVYJyJ3" id="footer1-j">

    

    

    <div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <a href="{{ "/" | relative_url }}">
                        
                       <img src="{{ site.logo }}" alt="Mobirise" title="logo" media-simple="true" class="hahaimg" /> 
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Адрес
                </h5>
                <p class="mbr-text">
                    {{ site.region }}<br>
                    {{ site.city }}<br>
                    {{ site.street }}
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Контакты
                </h5>
                <p class="mbr-text">
                    Email: {{ site.email }}
                    <br>Телефон 1: {{ site.phone1 }}                   <br>Телефон 2: {{ site.phone2 }}
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Ссылки
                </h5>
                <p class="mbr-text">
                   <a href="{{ site.foot-link1 }}">{{ site.foot-link-title1 }}</a>
                    <br><a href="{{ site.foot-link2 }}">{{ site.foot-link-title2 }}</a>
                    <br><a href="{{ site.foot-link3 }}">{{ site.foot-link-title3 }}</a>
                </p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © {{ site.copyright }}
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        
                        {% for socicon in site.socicons %}
                        <div class="soc-item">
                            <a href="{{ socicon.link }}" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-{{ socicon.icon }} socicon"></span>
                            </a>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>