<section class="cid-quPfkpxouX" id="footer1-q" data-rv-view="613">

    

    

    <div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <a href="{{ "/" | relative_url }}">
                        <img src="{{ site.logo }}" alt="Mobirise" media-simple="true">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Адрес
                </h5>
                <p class="mbr-text">
                    {{ site.home-street }}
                    <br>{{ site.city }}
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Контакты
                </h5>
                <p class="mbr-text">
                    Email: {{ site.email }}
                    <br>Phone: {{ site.phone }}
                    <br>Fax: {{ site.fax }}
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Ссылки
                </h5>
                <p class="mbr-text">
                    <a class="text-primary" href="{{ site.link1 }}">{{ site.link-name1 }}</a>
                    <br><a class="text-primary" href="{{ site.link2 }}">{{ site.link-name2 }}</a>
                    <br><a class="text-primary" href="{{ site.link3 }}">{{ site.link-name3 }}</a>
                </p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright {{ site.copyright }}
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.youtube.com/c/mobirise" target="_blank">
                                <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://instagram.com/mobirise" target="_blank">
                                <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                                <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.behance.net/Mobirise" target="_blank">
                                <span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



  <script src="{{ site.baseurl }}/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/popper/popper.min.js"></script>
  <script src="{{ site.baseurl }}/assets/tether/tether.min.js"></script>
  <script src="{{ site.baseurl }}/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/assets/smooth-scroll/smooth-scroll.js"></script>
  <script src="{{ site.baseurl }}/assets/dropdown/js/script.min.js"></script>
  <script src="{{ site.baseurl }}/assets/touch-swipe/jquery.touch-swipe.min.js"></script>
  <script src="{{ site.baseurl }}/assets/jarallax/jarallax.min.js"></script>
  <script src="{{ site.baseurl }}/assets/jquery-mb-vimeo_player/jquery.mb.vimeo_player.js"></script>
  <script src="{{ site.baseurl }}/assets/viewport-checker/jquery.viewportchecker.js"></script>
  <script src="{{ site.baseurl }}/assets/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js"></script>
  <script src="{{ site.baseurl }}/assets/masonry/masonry.pkgd.min.js"></script>
  <script src="{{ site.baseurl }}/assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="{{ site.baseurl }}/assets/jquery-mb-ytplayer/jquery.mb.ytplayer.min.js"></script>
  <script src="{{ site.baseurl }}/assets/theme/js/script.js"></script>
  <script src="{{ site.baseurl }}/assets/mobirise-gallery/player.min.js"></script>
  <script src="{{ site.baseurl }}/assets/mobirise-gallery/script.js"></script>
  <script src="{{ site.baseurl }}/assets/mobirise-slider-video/script.js"></script>
  <script src="{{ site.baseurl }}/assets/formoid/formoid.min.js"></script>
  
<link rel="stylesheet" href="{{ site.baseurl }}/assets/popup-gallery.css">
<script src="{{site.baseurl}}/assets/jquery.magnific-popup.min.js"></script>
<script src="{{site.baseurl}}/assets/common.js"></script>

</body>
</html>