<div class="library">
	{% for image in page.images %}
	<a href="{{ image.image_path }}" class="item">
		<img src="{{ image.image_path }}" alt="{{ image.title }}">
	</a>
	{% endfor %}
</div>


<!--
пример yaml вставки в начале страницы, либо поста

images:
- image_path: /img/1/6.png
  title: Home 1
- image_path: /img/1/8.png
  title: Home 1
- image_path: /img/1/9.png
  title: Home 1
- image_path: /img/1/5.png
  title: Home 1
- image_path: /img/1/13.png
  title: Home 1


  скрипты для футера 

  <script src="{{site.baseurl}}/assets/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/jquery.magnific-popup.min.js"></script>
<script src="{{site.baseurl}}/assets/common.js"></script>

-->