<section class="menu cid-qGCDxM1gwR" once="menu" id="menu1-n">
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top collapsed bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="{{ "/" | relative_url }}">
                       
                        <img src="{{ site.logo }}" alt="Mobirise" title="logo" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="{{ "/" | relative_url }}">
                        {{ site.title }}
                    </a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">

                {% for my_page in site.pages %}
                {% if my_page.title %}
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="{{ my_page.url | prepend: site.baseurl }}">
                        
                        {{ my_page.title }}
                    </a>
                </li>
                {% endif %}
                {% endfor %}


            </ul>


            <div class="navbar-buttons mbr-section-btn">

                  <a class="btn btn-sm btn-primary display-4" data-toggle="{{ site.modal-toggle }}" href='#{{ site.modal-id }}'><span class="mbri-touch mbr-iconfont mbr-iconfont-btn"></span>
                    
                    Обратный звонок</a>
            </div>
        </div>
    </nav>
</section>