


<section class="cid-quPe38rGcn mbr-parallax-background" id="header15-i" data-rv-view="550" style="background-image: url({{ site.hero-img }});">

    

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);"></div>

    <div class="container align-center">
<div class="row">
    <div class="mbr-white col-lg-8 col-md-7 content-container">
        <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
            {{ site.hero-intro }}
        </h1>
        <p class="mbr-text pb-3 mbr-fonts-style display-5">
            {{ site.hero-description }}
        </p>
    </div>
    


    <div class="col-lg-4 col-md-5">

    <div class="form-container">   
        <div class="media-container-column" data-form-type="formoid">
            <div data-form-alert="" hidden="" class="align-center">
                Thanks for filling out the form!
            </div>
            <form class="mbr-form" action="https://mobirise.com/" method="post" data-form-title="Mobirise Form"><input type="hidden" data-form-email="true" value="qotaX+nJVVyY5JWsKAUzoUpFNieqtIk+TPlmfvQTs02ywCTLcuJ3c3SobemgXlNF0Va1KwDU0vuHt+/5o2hIoD5507/2R+q9b8j4p7NMx3etshMtsJ0wB9mtSWlplx4C">
                <div data-for="name">
                    <div class="form-group">
                        <input type="text" class="form-control px-3" name="name" data-form-field="Name" placeholder="Имя" required="" id="name-header15-i">
                    </div>
                </div>
                <div data-for="email">
                    <div class="form-group">
                        <input type="email" class="form-control px-3" name="email" data-form-field="Email" placeholder="Email" required="" id="email-header15-i">
                    </div>
                </div>
                <div data-for="phone">
                    <div class="form-group">
                        <input type="tel" class="form-control px-3" name="phone" data-form-field="Phone" placeholder="Телефон" id="phone-header15-i">
                    </div>
                </div>
                
                <span class="input-group-btn"><button href="" type="submit" class="btn btn-form btn-primary display-4">ОТПРАВИТЬ</button></span>
            </form>
        </div>
       
    </div>
    
    </div>

</div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>