{% for lgallery in site.lgallerys %}
<section class="mbr-section content4 cid-qGGPRTk3bI" id="content4-1a">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">{{ lgallery.title }}</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">{{ lgallery.subtitle }}
                </h3>
                
            </div>
        </div>
    </div>
</section>




<section class="mbr-gallery mbr-slider-carousel cid-qGGPMIWIX8" id="gallery3-19">

    

    <div>
    <div><!-- Filter --><!-- Gallery --><div class="mbr-gallery-row"><div class="mbr-gallery-layout-default"><div><div>
        
        <a href="{{ lgallery.img1 }}" class="imem">
            <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false"><div>
                <img src="{{ lgallery.img1 }}" alt=""><span class="icon-focus">
                </span></div></div>
        </a>

        <a href="{{ lgallery.img2 }}" class="imem">
            <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false"><div>
                <img src="{{ lgallery.img2 }}" alt=""><span class="icon-focus">
                </span></div></div>
        </a>

        <a href="{{ lgallery.img3 }}" class="imem">
            <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false"><div>
                <img src="{{ lgallery.img3 }}" alt=""><span class="icon-focus">
                </span></div></div>
        </a>

        <a href="{{ lgallery.img4 }}" class="imem">
            <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false"><div>
                <img src="{{ lgallery.img4 }}" alt=""><span class="icon-focus">
                </span></div></div>
        </a>

        <a href="{{ lgallery.img5 }}" class="imem">
            <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false"><div>
                <img src="{{ lgallery.img5 }}" alt=""><span class="icon-focus">
                </span></div></div>
        </a>

        <a href="{{ lgallery.img6 }}" class="imem">
            <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false"><div>
                <img src="{{ lgallery.img6 }}" alt=""><span class="icon-focus">
                </span></div></div>
        </a>

        <a href="{{ lgallery.img7 }}" class="imem">
            <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false"><div>
                <img src="{{ lgallery.img7 }}" alt=""><span class="icon-focus">
                </span></div></div>
        </a>

        <a href="{{ lgallery.img8 }}" class="imem">
            <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false"><div>
                <img src="{{ lgallery.img8 }}" alt=""><span class="icon-focus">
                </span></div></div>
        </a>

    </div></div><div class="clearfix"></div></div></div></div>
    </div>

</section>




<section class="mbr-section content8 cid-qGGQP8doUV" id="content8-1b">

    

    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4" href="{{ lgallery.link }}">Больше фотографий</a> <a class="btn btn-primary display-4" data-toggle="{{ site.modal-toggle }}" href='#{{ site.modal-id }}'>Заказать звонок</a></div>
            </div>
        </div>
    </div>
</section>
{% endfor %}