<section class="counters2 counters cid-quPeSypHB4" id="counters2-m" data-rv-view="603">

    

    

    <div class="container pt-4 mt-2">
        <div class="media-container-row">
            <div class="media-block" style="width: 50%;">
                <h2 class="mbr-section-title pb-3 align-left mbr-fonts-style display-2">
                    {{ site.madia-content-title }}
                </h2>
                <h3 class="mbr-section-subtitle pb-5 align-left mbr-fonts-style display-5">
                    {{ site.madia-content-subtitle }} 
                </h3>
                <div class="mbr-figure">
                    <img src="{{ site.madia-content-img }}" media-simple="true">
                </div>
            </div>
            <div class="cards-block">
                <div class="cards-container">
                    <div class="card px-3 align-left col-12 col-md-6">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                
                                <h3 class="count py-2 mbr-fonts-style display-2">
                                    {{ site.madia-content-number1 }}
                                </h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                    {{ site.madia-content-number-title1 }}
                                </h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                    {{ site.madia-content-number-subtitle1 }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card px-3 align-left col-12 col-md-6">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                
                                <h3 class="count py-3 mbr-fonts-style display-2">
                                    {{ site.madia-content-number2 }}
                                </h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                    {{ site.madia-content-number-title2 }}
                                </h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                    {{ site.madia-content-number-subtitle2 }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card px-3 align-left col-12 col-md-6">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                
                                <h3 class="count py-3 mbr-fonts-style display-2">
                                    {{ site.madia-content-number3 }}
                                </h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                    {{ site.madia-content-number-title3 }}
                                </h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                        {{ site.madia-content-number-subtitle3 }} 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card px-3 align-left col-12 col-md-6">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                
                                <h3 class="count py-3 mbr-fonts-style display-2">
                                    {{ site.madia-content-number4 }}
                                </h3>
                            </div>
                            <div class="card-texts">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                    {{ site.madia-content-number-title4 }}
                                </h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                        {{ site.madia-content-number-subtitle3 }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>