<link rel="stylesheet" href="{{ site.baseurl }}/assets/web/assets/mobirise-icons/mobirise-icons.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/socicon/css/styles.css">
<link rel="stylesheet" href="{{ site.baseurl }}/dest/style.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/mobirise/css/mbr-additional.css">


<script defer src="{{ site.baseurl }}/dest/build.min.js"></script>
<script defer src="{{site.baseurl}}/assets/jquery.pjax.js"></script>
<script defer src="{{site.baseurl}}/assets/common.js"></script>



