

<section class="features18 popup-btn-cards cid-qGDwNzw1BC" id="features18-11">

    

    
    <div class="container">
        <div class="row pt-5 ">
            

           <div class=" owl-carousel owl-theme">
           {% for post in site.posts %}
            <div class="card p-3 col-12 col-md-12 col-lg-12">
                <a href="{{ post.url | relative_url }}">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"></div>
                        <img src="{{ post.image_path }}" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            {{ post.title | escape }}
                        </h4>
                        <p class="mbr-text mbr-fonts-style align-left display-7">
                            {{ post.subtitle | escape }}
                        </p>
                        <p class="mbr-text mbr-fonts-style align-left display-7">
                            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                            <p><span class="post-meta">{{ post.date | date: date_format }}</span></p>
                        </p>
                    </div>
                </div>
            </a>
            </div>
            {% endfor %}
            </div>

        </div>
    </div>
</section>