<section class="header1 cid-quPf8CGR21 mbr-parallax-background" id="header1-o" data-rv-view="609" style="background-image: url({{ page.image_path }});">

    

    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(0, 0, 0);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
                    {{ page.title | escape }}
                </h1>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">
                    {{ page.subtitle | escape }}
                </h3>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                    {{ page.description | escape }}
                </p>
                
            </div>
        </div>
    </div>

</section>