<section class="mbr-section article content1 cid-quPfeFxsBH" id="content1-p" data-rv-view="612">
    
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7">
                {{ content }}

		<p class="post-meta">
		<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      	</time>
      	{% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      	{% endif %}</p>


      	<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  		{% if site.disqus.shortname %}
    	{% include disqus_comments.html %}
  		{% endif %}
		</article>

            </div>
        </div>
    </div>
</section>