<div id="before-load">
 
  <span class="mbr-iconfont mbri-update" style="color: #fff;" media-simple="true"></span>
</div>

<style>
	#before-load {
  position: fixed; /*фиксированное положение блока*/
  left: 0; /*положение элемента слева*/
  top: 0; /*положение элемента сверху*/
  right: 0; /*положение элемента справа*/
  bottom: 0; /*положение элемента снизу*/
  background: #000; /*цвет заднего фона блока*/
  z-index: 3; /*располагаем его над всеми элементами на странице*/
}
#before-load span {
  font-size: 70px; /*размер иконки*/
  position: absolute; /*положение абсолютное, позиционируется относительно его ближайшего предка*/
  left: 50%; /*слева 50% от ширины родительского блока*/
  top: 50%; /*сверху 50% от высоты родительского блока*/
  margin: -35px 0 0 -35px; /*смещение иконки, чтобы она располагалась по центру*/

  animation-name: rotation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotation { 0% {transform:rotate(0deg);} 
100% {transform:rotate(360deg);} }

</style>