<section class="cid-qGHaINwb9E" id="social-buttons3-1f">
    
    

    

    <div class="container">
        <div class="media-container-row">
            <div class="col-md-8 align-center">
                <h2 class="pb-3 mbr-section-title mbr-fonts-style display-2">
                    Мы в социальных сетях</h2>
                <div>
                    <div class="mbr-social-likes">
                        
                        {% for soclink in site.soclinks %}
                            <a href="{{ soclink.link }}" target="_blank">
                            <span class="btn btn-social socicon-bg-{{ soclink.bg }} {{ soclink.qico }} mx-2">
                                <i class="socicon socicon-{{ soclink.icon }}"></i>
                            </span>
                            </a>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>