<section class="timeline1 cid-qGH4ZL6wFC" id="timeline1-1d">

    

    

    <div class="container align-center">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">Этапы строительства</h2>
        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style display-5">Чтобы упростить понимание процесса подготовительных и строительных работ мы решили создать краткое поэтапное описание.&nbsp;</h3>

        <div class="container timelines-container" mbri-timelines="">
            <div class="row timeline-element reverse separline">      
                 <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-2">1 этап</p>
                    </div>
                </div>
           <span class="iconBackground"></span>
            <div class="col-xs-12 col-md-6 align-right">
                <div class="timeline-text-content">
                    <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                        Договоренность и соглашения</h4>
                    <p class="mbr-timeline-text mbr-fonts-style display-7">
                        На этом этапе Вы выбираете интересующий вас типовой проект, либо заказываете индивидуальный проект. Оставляете заявку, либо связываетесь с нами, мы Вас консультируем и при достижении согласия по всем вопросам заключаем договор.</p>
                 </div>
            </div>
            </div>

            <div class="row timeline-element  separline">
                <div class="timeline-date-panel col-xs-12 col-md-6 align-right">
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-2">2 этап</p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Строительство</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">После заключения договора, определив дату начала строительных работ Мы рассчитываем, производим и комплектуем материал в соответствии с проектом вашего будущего дома. За тем подготовленный домо-комплект и бригада строителей доставляются на ваш участок и начинается непосредственно стройка.</p>
                    </div>
                </div>
            </div> 


            <div class="row timeline-element reverse">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-2">3 этап</p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-right">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Сдача/прием объекта</h4>      
                        <p class="mbr-timeline-text mbr-fonts-style display-7">По окончании строительных работ определенных в договоре Вы подписываете документ о сдаче/приеме объекта и с этого момента Вы полноправный хозяин в своем новом доме или бане ))).
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="mbr-section content8 cid-qH6tU3tyfU" id="content8-1i">

    

    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4" data-toggle="{{ site.modal-toggle }}" href='#{{ site.modal-id }}'>Заказать звонок</a></div>
            </div>
        </div>
    </div>
</section>