<section class="header7 cid-qKHpePWpjK" id="header7-41">

    

    

    <div class="container">
        <div class="media-container-row">

            <div class="media-content align-right">
                <h2 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-1">
                    Intro with Video
                </h2>
                <div class="mbr-section-text mbr-white pb-3">
                    <p class="mbr-text mbr-fonts-style display-5">
                        Intro with background color, paddings and a video on the right. Mobirise helps you cut down development time by providing you with a flexible website editor with a drag and drop interface.
                    </p>
                </div>
                <div class="mbr-section-btn"><a class="btn btn-md btn-primary display-4" href="https://mobirise.com">LEARN MORE</a>
                        <a class="btn btn-md btn-primary-outline display-4" href="https://mobirise.com">LIVE DEMO</a></div>
            </div>

            <div class="mbr-figure" style="width: 130%;"><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/uNCr7NdOJgw?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>

        </div>
    </div>
</section>